<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="components/main">
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="mw-100 mh-100">
			<div class="container-fluid darkpink">
				<div class="container justify-content-center darktpink">
					<div class="row pt-4 justify-content-center">
						<br />
						<div class="col-sm-5 bnklogofont align-self-center">
							<p class="display-4">Congrats You get</p>
						</div>
						<div class="col-sm-2 p-1">
							<div class="card" style="width: 10rem;">
								<img class="card-img-top" src="/card/CAN001.tex.jpg" alt="Card image cap" />
							</div>
						</div>
						<div class="col-sm-1 bnklogofont align-self-center">
							<p class="display-4">Card</p>
						</div>
					</div>
					<div class="row justify-content-center">
						<br /> <img src="/img/domain-header.ce64f8f.png"
							class="img-fluid" alt="" />

					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center pt-2 normalpink">
			<h2 class="bnkfont">Subscribe BNK48</h2>
		</div>
		<div class="row justify-content-center normalpink">
			<img src="/img/bn-bnk48-yt.2c3b886.jpg" alt="" class="img-fluid m-3" />
			<img src="/img/bn-bnk48-fb.4d3acce.jpg" alt="" class="img-fluid m-3" />
		</div>
	</div>
</body>
</html>
