body{
    background-color: #FFE9E9;
}
.navbar{
    background-color: #C58EC3;
}
.bnkLogo{
    color: #c58ec3;
    font: "kanit",Thonburi,Arial,sans-serif;
}
.dark{
    background-color: #000;
}
.darkpink{
    background-color: #C58EC3;
}
.normalpink{
    background-color: rgb(255, 214, 226);
}
.lightpink{
    background-color:  #FFE9E9;
}
.bnkfont{
        font-weight: 300;
        margin: 0 0 10px;
        line-height: 1.2;
        color: #333;
}
footer{
    background-color: #c58ec3;
}
.btn-outline-pink {
    color: rgb(126, 0, 124);
    background-color: transparent;
    background-image: none;
    border-color: rgb(126, 0, 124);
  }
  
  .btn-outline-pink:hover {
    color: #fff;
    background-color: rgb(126, 0, 124);
    border-color: rgb(126, 0, 124);
  }
  
  .btn-outline-pink:focus, .btn-outline-pink.focus {
    box-shadow: 0 0 0 0.2rem rgb(126, 0, 124);
  }
  
  .btn-outline-pink.disabled, .btn-outline-pink:disabled {
    color: rgb(126, 0, 124);
    background-color: transparent;
  }
  
  .btn-outline-pink:not([disabled]):not(.disabled):active, .btn-outline-pink:not([disabled]):not(.disabled).active,
  .show > .btn-outline-pink.dropdown-toggle {
    color: #fff;
    background-color: rgb(126, 0, 124);
    border-color: rgb(126, 0, 124);
    box-shadow: 0 0 0 0.2rem rgb(126, 0, 124);
  }
  .bnklogofont{
      color:#fff;
      font-weight: 300;
  }
  .bnklogo{
    color:#fff;
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 0.8;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    background-image: none;
    border-style:solid;
    letter-spacing: -8px;
}
.btn-pink {
    color: #fff;
    background-color: rgb(126, 0, 124);
    border-color: rgb(126, 0, 124);
  }
  
  .btn-pink:hover {
    color: #fff;
    background-color: rgb(53, 2, 53);
    border-color: rgb(53, 2, 53);
  }
  
  .btn-pink:focus, .btn-pink.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 191, 0.5);
  }
  